/* Định dạng danh sách bài học */
/* .lessons{
    width: 250px;
    height: 80vh;
    overflow-y: auto;
    padding: 1em;
    background-color: #f7f7f7;
    position: sticky;
    top: 50px;
} */
.lessons ul {
    list-style: none;
    padding: 0;
    
}

.lessons li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    color: #4986d1;
}

.lessons li:hover {
    background-color: #f1f1f1;
}