/* Mặc định chung */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

/* Thiết lập sidebar và nội dung chính */
#sidebar {
    width: 100%;
    height: auto;
    position: relative;
    background: #343a40;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#sidebar-title {
    font-size: 1.5rem;
}

#sidebar .components {
    padding: 0;
}

#sidebar .components ul {
    list-style: none;
    padding: 0;
}

#sidebar .components ul li {
    padding: 10px 0;
    border-bottom: 1px solid #484e53;
}

#sidebar .components ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

/* Nội dung chính */
#content {
    width: 100%;
    padding: 10px;
    background: #f8f9fa;
}

/* Video container */
.video-container {
    margin: 0 auto;
    text-align: center;
}

#videoFrame {
    width: 100%;
    height: 200px;
    border: 0;
}

#videoTitle {
    font-size: 1.5rem;
    padding: 10px 0;
}

#videoDescription {
    width: 100%;
    height: 300px;
    border: 0;
}

/* Footer */
.footer {
    text-align: center;
    padding: 10px;
    background: #343a40;
    color: #fff;
}

.footer a {
    color: #ffc107;
    text-decoration: none;
}

.footer a:hover {
    color: #fff;
}

/* Responsive cho màn hình mobile */
@media (max-width: 767px) {
    /* Điều chỉnh layout cho mobile */
    .wrapper {
        flex-direction: column;
    }

    #sidebar {
        width: 100%;
        height: auto;
        position: static;
    }

    .video-container {
        padding: 0;
    }

    #content {
        width: 100%;
        padding: 10px;
    }

    /* Sidebar */
    #lessonList {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #lessonList li {
        width: 100%;
        text-align: center;
        padding: 5px;
    }

    /* Footer */
    .footer p {
        font-size: 0.9rem;
        margin: 5px 0;
    }
}
