body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #343a40;
    color: #fff;
    padding: 10px;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
}

.content {
    display: flex;
    flex: 1;
}

aside {
    width: 250px;
    background: #f8f9fa;
    overflow-y: auto;
    padding: 10px;
}

main {
    flex: 1;
    padding: 20px;
}

.video-container iframe {
    width: 100%;
    height: 500px;
}

#descriptionFrame {
    width: 100%;
    height: 800px;
}

footer {
    background: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media (max-width: 767px) {
    .content {
        flex-direction: column;
    }

    aside {
        width: 100%;
        display: none;
    }

    aside.active {
        display: block;
    }

    .video-container iframe {
        height: 200px;
    }

    #descriptionFrame {
        height: 800px;
    }
}
/* Ẩn dấu chấm (dot) của danh sách ul, li */
ul {
    list-style-type: none; /* Ẩn dấu chấm mặc định */
    padding-left: 0; /* Loại bỏ khoảng cách thụt vào */
}

li {
    list-style-type: none;
    padding: 5px 0;
}

button {
    /* left: 20px; */
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}